.App {
  width: 30%;
  background: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-shadow: 5px 1px 4px 0px #5252529c;
}


ul{
  list-style: none;
  font-size: 1.5rem;
}
span{
  cursor: pointer;
}

.folder{
  margin-top: 1rem;
}

.header{
  box-shadow: -15px 4px 4px 0px #1f1d1d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header span{
  font-size: 1.5rem;
}
.actions{
  font-size: 1rem;
  height: 1rem;
}
.actions i{
  margin: 0rem 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}